<h1>Patient Management</h1>
<div style="display: flex; justify-content: space-between;">
  <div style="position: relative;flex-basis: 16%;">
    <app-trial-sidebar></app-trial-sidebar>
  </div>
  <div style="flex-basis: 83%;">
    <input placeholder="Search patient" #filterInput style="margin-right: 1em">
    <button (click)="addPatient()">Add patient</button>
    <ul *ngIf="this.patientData$ | async as patientData"
      style=" display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; list-style-type: none; padding:0em; grid-row-gap: 1em; grid-column-gap: 1em;">
      <li *ngFor="let patient of patientData" (click)="assignPatientToTrial(patient)"
        [ngStyle]=" {'cursor': (this.selectedTrial$ | async) ? 'pointer' : 'default' }">
        <app-patient-information [patient]="patient">
        </app-patient-information>
      </li>
    </ul>
  </div>
</div>